<div class="card text-center">
    <div class="card-header">
      <strong>Make Payments</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">What would you like to purchase?</h5>
      <div class="row">
        <div class="col-md-3 col-12">
            <button type="button" class="btn btn-success">Buy a coffee - $1.99</button>
        </div>
        <div class="col-md-3 col-12">
            <button type="button" class="btn btn-success">Buy some groceries -$50 </button>
          </div>
          <div class="col-md-3 col-12">
              <button type="button" class="btn btn-success">Buy dinner - $20 </button>
            </div>
            <div class="col-md-3 col-12">
                <button type="button" class="btn btn-success">Buy milk and bread - $10</button>
              </div>
            </div>
    </div>
    <div class="card-footer text-muted">
      TD Food Wallet
    </div>
  </div>





