<form>
  <div class="form-group">
      <label>Savings Start Date - {{customer.givenName}} </label>
      <textarea class="form-control" style="background-color: white;" disabled>Jul 21st, 2018 </textarea>
  </div>

  <div class="form-group">
      <label>Set Income (CAD)</label>
      <input class="form-control" placeholder="40,000">
  </div>

  <div class="form-group">
      <label>Set #### Budget</label>
      <input class="form-control" placeholder="Suggested: $400">
  </div>

  <div class="form-group">
      <label for="TimeFrame" isRight=true>Savings Time Frame</label>
      <div class="slidecontainer">
        <input type="range" min="1" max="4" class="slider" id="myTimeRange">
        <label isOption=true style="width:15%;">Daily</label>
        <label isOption=true style="width:32%;">Weekly</label>
        <label isOption=true style="width:30%;">Bi-Weekly</label>
        <label isOption=true style="width:23%">Monthly</label>
      </div>
  </div>

  <div class="form-group">
    <label style="width: 45%; padding-top: 1vh;">Funding Account</label>
    <div class="dropdown" style="float:right; width: 53%;">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="height:6vh; color: black; background-color: white; border: 0; outline: none;">Chequeing ####</button>
      <ul class="dropdown-menu" style="padding-left: 5vw; padding-right: 5vw;">
        <li>Chequeing ####</li>
        <li>Savings ####</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <textarea class="form-control" style="background-color: white;" disabled>Balance: </textarea>
  </div>

  <div class="form-group" style="padding-top: 3vh;">
    <button type="button" class="btn btn-light" style="float: right; padding-left: 5vw; padding-right: 5vw; background-color: rgba(255, 255, 255, 0.897);">Save</button>
  </div>


</form>
