.form-group{
    padding-right: 5vw;
    padding-left: 5vw;
}
.form-control{
    height:6vh;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    float: right;
    width: 90%; /* Full-width */
    height: 3px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5px; 
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    background:rgb(73, 83, 73);
    cursor: pointer;
}
.slider::-moz-range-thumb {
    border-radius: 50%;
    background: rgb(73, 83, 73);
    cursor: pointer;
}
label[isRight=true]{
    font-size: 2.5vh;
    color: grey;
    width:100%; 
    text-align:right;
}
label[isOption=true]{
    font-size: 2vh;
    color: grey;
    text-align:right;
}
p[isWhite=true]{
    background-color: white;
    padding-right: 5vw;
    padding-left: 5vw;
}
li{
    padding-top:1vh;
    padding-bottom:1vh;
}