.card{
    background-color: rgb(255, 255, 255);
    margin-left: auto; margin-right: auto;
}
.tableFont  {
   font-size: 50% 
}
.card-body{
    color: rgb(48, 44, 44);
}
.btn-outline-secondary{
    border-radius: 50%;
}
.table{
    border-width: 0;
    line-height:1em;
}
.table{
    min-width: 100%;
    table-layout: fixed;
}
.button {
    background-color: rgb(31, 95, 33); /* Green */
    border: none;
    color: white;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: dimgray
}
.space {
    margin-top: 2em
}
.welcome {
    color: rgb(70, 72, 73);
    font-size: 20px;
    font-weight: bold; 
}
.paymentButton{
  margin-top:1%;
  background-color:#008a00;
  width:100%;
}
