<div class="container">

	<div *ngIf="notification != null">
		<div class="alert {{notificationClass}} alert-dismissible fade show">
			{{notification}}
			<button type="button" class="close" aria-label="Close" (click)="disableNotification()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

  </div>

  <div class="row">
      <p class="col-7 welcome">Hi! {{customer.givenName}}, {{customer.surname}} </p>
      <div class="dropdown col-5">
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            {{customer.givenName}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="switchCustomer(0)">Customer 1</a>
            <a class="dropdown-item" (click)="switchCustomer(1)">Customer 2</a>
            <a class="dropdown-item" (click)="switchCustomer(2)">Customer 3</a>
          </div>
        </div>
      </div>
  </div>

		<table class="table"> 
			<tr>
				<td class="tableFont">Points</td>
				<td class="tableFont">Balance</td>
				<td class="tableFont">Allowance</td>
				<td class="tableFont">Days Left</td>
				<td class="tableFont">Grocerry Spent</td>
			</tr>
			<tr> 
				<td>
					<button type="button" class="btn btn-outline-secondary">{{customerDb.rewardPoints}}</button>
				</td>
				<td>
					<button type="button" class="btn btn-outline-secondary">${{customerDb.allowanceAccount.balance}}</button>
				</td>
				<td>
					<button type="button" class="btn btn-outline-secondary">${{customerDb.allowanceAccount.allowance}}</button>
				</td>
				<td>
					<button type="button" class="btn btn-outline-secondary">{{customerDb.rewardPoints}}</button>
				</td>
				<td>
					<button type="button" class="btn btn-outline-secondary">${{customerDb.rewardPoints}}</button>
				</td>
			</tr>
		</table>

	<div class="container">
	<div class="row">
		<div class="col-xs-2 col-lg-2">
			<div class="space"></div>
			<div class="card">
				<div class="card-header"> <h5> Your Transactions </h5></div>
				<div class="card-body">
					<table class="table" *ngIf="customerDb.allowanceAccount">
						<tr>
							<th>Merchant Name</th>
              <th>Amount</th>
              <th>Account Balance</th>
						</tr>
						<tr *ngFor="let trans of customerDb.allowanceAccount.transactions">
							<ng-container *ngIf="trans.success">
								<td>{{trans.merchantName}}</td>
                <td> ${{trans.currencyAmount}}</td>
                <td> ${{trans.postBalance}}</td>
							</ng-container>
						</tr>
					</table>

				</div>
			</div>
		</div>
	</div>
	<button class="btn btn-success paymentButton" (click)="togglePayment()"> {{paymentText}} </button>
</div>
<footer *ngIf="showPayment">
	<app-payment [customer]="customer" (notificationChange)="displayNotification($event)" (customerChange)="updateCustomer($event)"> </app-payment>
</footer>
