<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #006400; position: fixed; width: 100%;">
  <button class="navbar-toggler" style="outline: none; border: none; width: 3vw; height: 10vw; padding-left: 0; padding-right: 7vw"type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="width: 8vw; float: left;"></span>
  </button>
  <a class="navbar-brand" href="#" style="width: 60vw;">
      <img src="https://yt3.ggpht.com/a-/ACSszfEC_NNwHma-fTvIFG9brVYeBAAqGgLo2Qc8Ug=s900-mo-c-c0xffffffff-rj-k-no" width="30" height="30" class="d-inline-block align-top" alt="">
        My Wallet
  </a>
  <button style="width: 10vw; height: 10vw; border-radius: 50%; outline: none; border: none; background-color: rgba(36, 139, 11, 0.829);">
    <i class="fa fa-bell" style="color: rgba(245, 245, 245, 0.719)"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/dashboard"> Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" style="color: #ffffff;"> Settings </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/terms" style="color: #ffffff;"> Terms and Conditions </a>
      </li>
    </ul>
  </div>
</nav>

