<nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color: #006400; position: fixed; width: 100%;">
  <button class="navbar-toggler" style="outline: none;"type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" item-width="30"></span>
  </button>  
  <a class="navbar-brand" href="#" style="width: 68vw">
      <img src="https://yt3.ggpht.com/a-/ACSszfEC_NNwHma-fTvIFG9brVYeBAAqGgLo2Qc8Ug=s900-mo-c-c0xffffffff-rj-k-no" width="30" height="30" class="d-inline-block align-top" alt="">
        My Wallet
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #ffffff;">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" style="color: #ffffff;">Settings</a>
      </li>
    </ul>
  </div>
</nav>


